* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #5A6061;
}

a.navbar-brand {
    font-size: x-large;
}

h2, h4, p  {
  font-weight: 300;
}

.navbar {
  background-color: #f4f4f4;
}

.search-bar {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.jobListing {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    margin: 30px 0;
}

.content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

a {
    color: black;
}
